@import '../../../assets/scss/all';

.contact {
  // @extend %block--grey-light;
  width: 100%;
  padding: 6px 36px;
  text-align: center;
  box-sizing: border-box;

  .copyright {
    color: $color--gre
  }
}
