<article class="more-info content">
  <!-- <h2>Personal goals</h2> -->
  <img class="more-info__portrait" src="/assets/images/luuk-portrait.jpeg" alt="Me">
  <p>
    Coming from a study focused on webdesign, I want to dive deeper into the wider definition and possibilities of interaction design.
    I have a big interest in <span class="highlight">technology</span> in general (how it feels, influences our behaviour, how it develops ...) and <span class="highlight">design</span> (methods, visuals, ethics ...).
    Since this is such a broad interest, my specific interests shift quite a lot. From design ethics to IoT, to conducting human-centered research.
    I am currently focused on learning to properly use UX/service design research tools (like the <a href="https://www.ideo.com/post/method-cards" target="_blank">IDEO Method Cards</a>),
    creating physical products (like IoT) and visualizing concepts in 3D.
  </p>

  <h2>Experience</h2>
  <p>
    Right now, I study <span class="highlight">Interaction Design</span> at the University of Arts Utrecht (<a href="//www.hku.nl/Opleidingen/GamesEnInteractie/InteractionDesign.htm" target="_blank">HKU</a>). Before studying at the HKU, I've completed the study Media Interactive Design at <a href="//www.deltion.nl/opleidingen-en-cursussen/media-en-vormgeving" target="_blank">Deltion College</a>.
    Therefore I did an internship at <a href="//teamfoster.nl" target="_blank">Foster</a> (previously called Boerdam), where I learned a lot about
    <span class="highlight">front-end development</span> with Angular, Firebase, semantic HTML, writing clean SCSS and did a lot of <span class="highlight">visual design</span>.
  </p>
  <a class="button button--dark" href="">Curriculum <div class="icon margin--left" [inlineSVG]="'pdf.svg'"></div></a>
  <a class="button button--dark" href="">LinkedIn <div class="icon margin--left" [inlineSVG]="'linkedin.svg'"></div> </a>

  <h2>Get in touch</h2>
  <p>
      I am still <span class="highlight">looking for an internship</span> (from 09-'20), do you have or know a good place for me? Or do you need an interaction designer for your project?
  </p>
  <a class="button button--dark" href="">Mail me <div class="icon margin--left" [inlineSVG]="'mail.svg'"></div></a>
</article>

<div class="more-info__back-to-home">
  <a [routerLink]="['/']" class="button button--dark">
    <div class="icon margin--right" [inlineSVG]="'arrow.svg'"></div> Go back
  </a>
</div>
