<article class="more-info content">
  <h2>Experience</h2>
  <p>
    Before studying at the HKU, I've completed the study Media Interactive Design at Deltion College.
    Therefore I did an internship at <a href="teamfoster.nl" target="_blank">Boerdam (now known as Foster)</a>, where I learned a lot about
    front-end development with Angular, Firebase, semantic HTML, writing clean SCSS and did a lot of visual design.
  </p>
  <a class="button button--dark" href="">Download CV</a>
  <a class="button button--dark" href="">LinkedIn profile</a>

  <h2>Personal goals</h2>
  <p>
    Coming from a study focused on webdesign, I want to dive deeper into the wider definition and possibilities of interaction design.
    I have a big interest in how new technologies influences our behaviour, our look at technology and how interacting with technology feels.
    Since this is such a broad interest, my specific interests shifts quite a lot from design ethics to IoT to conducting human-centered research for instance.
    Currently I am focused on learning to properly use UX/service design research tools (like the <a href="https://www.ideo.com/post/method-cards" target="_blank">IDEO Method Cards</a>),
    creating physical products (like IoT) and visualizing concepts in 3D.
  </p>
  <h2>Get in touch</h2>
  <p>
    Do you have a spot for an intern like me (preferably from 09-'20)? Or do you need an interaction designer for your project?
  </p>
  <a class="button button--dark" href="">Mail me</a>
</article>

<div class="more-info__back-to-home">
  <a [routerLink]="['/']" class="button button--dark">&#8592; Terug</a>
</div>
