@import '../../components/work-detail/work-detail.component.scss';

.about-me {

  &__header {
    @extend %flex-center;
    flex-direction: column;
    border-bottom: solid 1px $color--grey-light;
    padding: 90px 12px;
    box-sizing: border-box;

    figure {
      @include size(240px);
      border-radius: 30px;
      overflow: hidden;

      img {
        @extend %fullsize;
        object-fit: cover;
      }
    }

    p {
      padding: 30px 0 0;
    }
  }

  &__main {

    .content {
      max-height: unset;
    }
  }
}
