@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=DM+Sans:wght@400;700&family=Volkhov:ital@0;1&IBM+Plex+Mono&display=swap');

$font-title: 'Caveat Brush', sans-serif;
$font-body: 'DM Sans', sans-serif;
$font-serif: 'Volkhov', serif;
$font-mono: 'IBM Plex Mono', monospace;
