$easing--in: cubic-bezier(0.55, 0, 1, 0.45);
$easing--out: cubic-bezier(0.25, 1, 0.5, 1);
$easing: cubic-bezier(0.65, 0, 0.35, 1);

$transition--extra-fast: 0.06s;
$transition--fast: 0.12s;
$transition: 0.24s;
$transition--slow: 0.5s;
