<header>
  <figure>
    <img [src]="data.media.imageUrl" alt="">
    <video>
      <source [src]="data.media.videoUrl"/>
    </video>
    <h1><input [(ngModel)]="data.title" type="text"></h1>
  </figure>
</header>
<main>
  <!-- metadata, title + input -->
  <!-- filterable metadata = select boxes of existing filters -->

  <!-- wydsasdfoijs innerHTML creator NPM -->

  <!-- pmi results -->
  <!-- <ul>
    <li>user >
      ul > topics > results
    </li>
  </ul> -->
</main>
<footer>
  <!-- buttons back, delete, save -->
  <!-- feedback -->
</footer>