<article class="work-detail cms-detail" *ngIf="data">
  <header class="work-detail__header cms-detail__header">
    <figure class="work-detail__header__media {{data.media.imagePos}}">
      <img [src]="data.media.imageUrl">
      <video>
        <source [src]="data.media.videoUrl"/>
      </video>
    </figure>
    <input class="cms-detail__header__img-input" type="text" [(ngModel)]="data.media.imageUrl">

    <select [(ngModel)]="data.media.imagePos">
      <option value="top">Top</option>
      <option value="center">Center</option>
      <option value="bottom">Bottom</option>
    </select>
    <input class="cms-detail__header__reference-input" type="text" [(ngModel)]="data.media.imageRef" placeholder="image reference caption">
    <h1 class="work-detail__header__title">
      <input
        class="cms-detail__header__title"
        [(ngModel)]="data.title"
        type="text">
    </h1>
    <p class="work-detail__header__subtitle cms-detail__header__subtitle">
      short description
      <textarea
        [(ngModel)]="data.subtitle"
        type="text"></textarea>
    </p>
  </header>
  <main class="work-detail__main cms-detail__main">
    <!-- Content -->

    <section class="work-detail__content cms-detail__main__content">
        <angular-editor [(ngModel)]="data.details" [config]="editorConfig"></angular-editor>
    </section>

    <!-- Metadata -->
    <aside class="work-detail__metadata cms-detail__main__metadata">
      <small class="cms-detail__main__metadata__id">ID: {{data.id}}</small>
      <ul class="work-detail__metadata__list">
        <li
          *ngFor="let metadata of data.metadata | keyvalue;"
          class="work-detail__metadata__list__item {{metadata.key}}"
        >
          <h1>{{ metadata.key }}</h1>
          <p *ngIf="!isArray(metadata.value)">
            <input [(ngModel)]="data.metadata[metadata.key]" [ngModelOptions]="{ updateOn: 'blur' }" type="text">
          </p>
          <ng-container *ngIf="isArray(metadata.value) && metadata.key !== 'collaboration'">
            <p *ngFor="let value of metadata.value; let i = index">
              <input
                [(ngModel)]="metadata.value[i]"
                [ngModelOptions]="{'updateOn': 'blur'}"
                type="text"
                (keyup.enter)="addField(metadata, metadata.key)"
                (keyup.backspace)="removeField(metadata, i, $event)"
              >
            </p>
          </ng-container>
          <p *ngIf="metadata.key === 'collaboration'">
            <br><small>NAME</small><br>
            <input
              *ngFor="let value of metadata.value | keyvalue; let i = index"
              [(ngModel)]="metadata.value[i].name"
              type="text"
              (keyup.enter)="addField(data.metadata[metadata.key], metadata.key)"
              (keyup.backspace)="removeField(data.metadata[metadata.key], i, $event)"
            >
            <br><br><small>URL</small><br>
            <input
              *ngFor="let value of metadata.value | keyvalue; let i = index"
              [(ngModel)]="metadata.value[i].url"
              type="text"
              (keyup.enter)="addField(data.metadata[metadata.key], metadata.key)"
              (keyup.backspace)="removeField(data.metadata[metadata.key], i, $event)"
            >
            <!-- <input [(ngModel)]="subdata.values" type="date"> -->
          </p>
          <p *ngIf="metadata.key === 'finishDate'">
            <input [(ngModel)]="data.metadata[metadata.key]" [ngModelOptions]="{ updateOn: 'blur' }" type="date">
          </p>
        </li>
      </ul>
    </aside>
  </main>
  <footer class="cms-detail__footer">
    <div class="cms-detail__footer__images">
        <h1>Image Gallery</h1>
      <ul>
        <li *ngFor="let img of images">
          <img [src]="img.url">
          <small>{{img.name}}</small>
          <button class="button button--dark" (click)="deleteImage(img.name)">delete</button>
        </li>
      </ul>
      <input class="button button--dark" type="file" accept=".png, .jpeg, .jpg" (change)="uploadImage($event)">
    </div>
    <div class="cms-detail__footer__buttons">
      <button class="button button--dark delete" (click)="delete();">Delete</button>
      <button class="button button--dark save" (click)="save()">Save</button>
    </div>
  </footer>
</article>
