@import '../../components/work-detail/work-detail.component.scss';

:host ::ng-deep .angular-editor-toolbar {
  &, & button {
    font-family: $font-body !important;
    border: none !important;
    background: none !important;
    appearance: none;
    outline: none !important;
  }
}

::ng-deep .angular-editor-textarea {
  @extend .content;
  cursor: text;
  border: 1px solid $color--grey-light !important;
  outline: none !important;
  appearance: none !important;
  resize: none !important;
  transition:
    transform 0.12s ease-out,
    border-color 0.12s ease-out;
  transform: scale(1);
  transform-origin: center top;

  &:focus {
    transform: scale(1.05);
    border-color: $color--grey !important;
  }
}

::ng-deep .angular-editor-placeholder { display: none !important }

.cms-detail {
  input, button, textarea {
    appearance: none;
    background: transparent;
    max-width: 100%;
    resize: none;

    font-family: $font-body;
  }

  textarea { font-family: $font-serif; }

  input:not([type='file']), textarea {
    margin-top: 12px; padding: .5em 1em;
    box-sizing: border-box;
    appearance: none;
    border: 1px solid $color--grey-light;
    font-size: 1em;
    transition:
      transform 0.12s ease-out,
      border-color 0.12s ease-in;
    transform: scale(1);

    &::placeholder { opacity: .4; }
    &:focus {
      outline: none;
      transform: scale(1.05);
      border-color: $color--grey;
    }
  }

  &__header {

    &__img-input {
      width: 300px;
      margin: 36px 36px 0;
    }

    &__reference-input { margin-left: 36px; }

    &__title {
      @extend %title--h4;
      font-family: $font-title !important;
      width: 100%;
      color: black;
      border: none;
    }

    &__subtitle {
      width: 540px;
      display: block;
      margin: 0 auto 24px;
      border: none;

      textarea {
        width: 100%;
        height: 180px;
      }
    }
  }

  &__main {
    margin: 0 auto;

    &__content {
      padding-left: 0;

      .angular-editor-textarea {
        @extend .work-detail__content;
      }

      & > button, & > a {
        font-size: 1em;
        margin-top: 24px;
      }
    }

    &__metadata {

      &__id { color: $color--grey; }
    }
  }

  &__footer {
    padding: 30px 36px;

    &__images {
      padding: 0 0 90px;
      margin: 0 auto;

      ul {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
      }

      li {
        min-width: 90px;
        width: 25%;
        margin: 12px 0 12px 24px;

        img, video, object {
          width: 100%;
          border-radius: 6px;
        }

        img, video { cursor: pointer; }

        pre {
          &.green { color: green }
          &.orange { color: orange }
          &.red { color: red }
        }

        small { word-break: break-word; }
      }

      .file-upload {
        outline: none;
        // position: relative;
        font-size: 1.1em;
        line-height: 1;
        // padding: 60px 0 0 0;
        // box-sizing: border-box;
        // overflow: hidden;
        height: 60px;
        border-style: dashed;
        margin-top: 30px;
        width: 100%;

        // &::before {
        //   content: 'Drop file to upload \2913';
        //   color: black;
        //   @include abs(22px, unset, unset, 50%);
        //   transform: translateX(-50%);
        // }

      }

    }

    &__buttons { @include flexbox(row, center, center) }

    .delete { border: none }
    .save { font-size: 1.1em; }
  }
}
