<article class="work-detail" *ngIf="data">
  <header class="work-detail__header">
    <figure class="work-detail__header__media {{data.media.imagePos}}">
        <img
          [src]="data.media.imageUrl"
          [alt]="data.title"
        >
    </figure>
    <h1 class="work-detail__header__title">{{data.title}}</h1>
  </header>

  <main class="work-detail__main">
    <!-- Content -->
    <section class="work-detail__content content" [innerHTML]="data.details">
    </section>

    <!-- Metadata -->
    <aside class="work-detail__metadata">
      <ul class="work-detail__metadata__list">
        <li
          *ngFor="let metadata of data.metadata | keyvalue"
          class="work-detail__metadata__list__item {{metadata.key}}"
        >
          <ng-container *ngIf="isArray(metadata.value) ? metadata.value[0].length > 0 : metadata.value.length > 0">
            <h1>{{metadata.key}}</h1>
            <p *ngIf="!isArray(metadata.value) && metadata.key !== 'finishDate'">{{metadata.value}}</p>
            <time *ngIf="metadata.key === 'finishDate'">{{metadata.value | date}}</time>
            <ng-container *ngIf="isArray(metadata.value) && metadata.key !== 'collaboration'">
              <p *ngFor="let value of metadata.value">{{value}}</p>
            </ng-container>
            <!-- collaboration -->
            <ng-container *ngIf="metadata.key === 'collaboration'">
              <a *ngFor="let value of metadata.value.collaboration" [href]="value.url">{{value.name}}</a>
            </ng-container>
          </ng-container>
        </li>
      </ul>
    </aside>
  </main>

  <!-- Feedback PMI -->
  <!-- <footer class="work-detail__feedback">
    <header  class="work-detail__feedback__header">
        <h1 class="work-detail__feedback__header__title">PMI</h1>
        <p class="work-detail__feedback__header__description">Let me know what your thoughts are about this project (anonymous)</p>
    </header>

    <main class="work-detail__feedback__topics">
      <div class="work-detail__feedback__topic" *ngFor="let topic of pmi; let i = index">
        <h3 class="work-detail__feedback__topic__title">Things you <strong>{{topic.title}}</strong> about this project</h3>
        <ul class="work-detail__feedback__topic__fields">
          <li
            class="work-detail__feedback__topic__fields__field"
            *ngFor="let field of topic.fields; let j = index"
          >
            <input
              type="text"
              placeholder="I {{topic.title}}..."
              [(ngModel)]="topic.fields[j]"
              [ngModelOptions]="{'updateOn': 'blur'}"
              (keyup.enter)="$event.target.blur(); addField(topic.fields, $event);"
              (keyup.backspace)="$event.target.value.length === 0 && j > 0 ? $event.target.blur() : null"
              (keyup.esc)="$event.target.blur();"
              (blur)="removeField(i, j, $event);"
            />
          </li>
          <li class="work-detail__feedback__topic__fields__field">
            <a class="work-detail__feedback__topic__fields__field__add button button--light" (click)="addField(topic.fields, $event)">+</a>
          </li>
        </ul>
      </div>
    </main>

    <a class="work-detail__feedback__send button button--dark">Send feedback ></a>
  </footer> -->
</article>

<app-work *ngIf="projectFilter && currentPage" [projectFilter]="projectFilter" #workComponent></app-work>

<div class="work-detail__back-to-home">
  <a [routerLink]="['/']" class="button button--dark">&#8592; Go back</a>
</div>
