.work__header {
  padding-bottom: 36px;
  width: 100%;

  &__tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $color--grey-light;

    @include portable {
      @include rel(null, null, null, calc(var(--page-padding) * -1));
      padding: 0 var(--page-padding);
      width: 100vw;
      overflow-x: auto;
      box-sizing: border-box;
    }

    button {
      font-size: 1.33em;
    }

    li {
      position: relative;

      &::before {
       content: '';
       @include abs(null, null, 0, 0);
       @include size(100%, 3px);
       display: block;
       background-color: $color--grey-light;
       border-radius: 3px;
       transform: scaleY(0);
       transform-origin: bottom center;
       transition: transform $transition--fast $easing--in;
      }
    }

    li.tab--active {
      pointer-events: none;
      &::before { transform: scaleY(1); }
      button { @extend %sans--bold; }
    }
  }


  &__filters {
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 0 0 30px;

    @include portable {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @include mobile {
      flex-direction: column;

      &::after {
        content: '';
        @include abs(0, calc(var(--page-padding) * -1), null, null);
        background-image: linear-gradient(270deg, white, rgba(white, 0));
        @include size(30px, 90px);
        transform: translateY(calc(-100% - 1px));
        display: block;
        pointer-events: none;
      }
    }

    &::before {
      content: '';
      @include abs(0, null, null, calc(var(--page-padding) * -1));
      @include size(100vw, 240px);
      display: block;
      z-index: -1;
      background: linear-gradient($color--grey-lighter, white);
    }

    .uil-filter {
      font-size: 1.72em;
      color: $color--grey;
      opacity: .6;
      margin: 6px 6px 0 0;
    }

    &__filter {
      @include desktop { margin-top: 12px; }
      @include tablet { margin-top: 12px; }

      &__label {
        .uil::before {
          transform: rotate(0deg);
          transition:
            transform $transition $easing,
            color $transition--fast $easing;
        }

        .tab--open & {
          pointer-events: none;
          // icon
          .uil::before {
            transform: rotate(-180deg);
            color: $color--grey-light;
          }
        }
      }

      &__dropdown {
        position: absolute;
        background-color: white;
        max-height: 0;
        overflow: auto;
        width: 100%; max-width: 384px;
        margin-top: 18px; padding: 0 36px;
        z-index: 9;
        border-radius: 24px; // border radius var
        box-shadow: $shadow rgba($color--grey, .18);

        @include portable {
          margin-top: 12px;
          width: calc(100% - 24px);
          box-sizing: border-box;
        }

        @include mobile {
          left: 50%;
          transform: translateX(-50%);
        }

        .tab--open & {
          max-height: 300px;
          transition:
            max-height 0.24s ease-in,
            border-width 0.12s ease-in;
          border-width: 3px;

          &__value,
          &__categorie h3 {
            opacity: 1;
            transition: opacity 0.36s 0.12s ease-out // transition var
              transform 0.2s ease-out; // transition var
          }
        }

        .tab--closed & {
          max-height: 0px;
          transition:
            max-height 0.24s 0.12s ease-out,
            border-width 0.12s 0.3s ease-out;
          pointer-events: none;

          &__value,
          &__categorie h3 {
            opacity: 0;
            transition: opacity 0.2s ease-out,
              // transition var
                transform 0.2s ease-out; // transition var
          }
        }

        &__categorie {
          text-align: left;
          padding: 18px 0 30px;

          h3 {
            @extend %title--h4;
            color: $color--grey-dark;
            text-align: left;
            margin: 0 0 0.5em;

            .work__header__filters__filter__dropdown li:first-child & {
              margin-top: 0.5em;
            }
          }
        }

        &__value {
          @include rel(0, unset, unset, 0);
          color: $color--grey;
          text-align: left;
          padding: 5px 0;
          font-size: 1.1em;
          cursor: pointer;
          transition: left 0.12s ease-out;

          i {
            @include abs(-2px, unset, unset, -30px);
            font-size: 1.5em;
            color: $color--grey;
            opacity: 0;
            transition: opacity 0.12s ease-out; // transition var
          }

          &:hover { left: 6px; }
          &:first-child { margin-top: 18px; }

          &.filter--active {
            left: 18px;

            i {
              opacity: 1;
              transition-delay: 0.12s;
              transition-timing-function: ease-in;
            }
          }
        }
      }
    }

    &__text {
      @extend %flex-center;
      text-align: center;
      margin: 0;

      &.no-filters {
        color: $color--grey;

        @include desktop { padding: 48px 0 12px; }
        @include tablet { padding: 42px 0 6px; }
        @include mobile { padding: 30px 0 0px; }
      }
      &:not(.no-filters) {
        color: $color--grey;

        @include desktop { padding: 36px 0 0px; }
        @include tablet { padding: 30px 0 0px; }
        @include mobile { padding: 24px 0 0px; }
      }

      &__bg-gradient { position: relative }
      &__bg-gradient::before {
        content: '';
        @include abs(0, null, null, calc(var(--page-padding) * -1));
        @include size(100vw, 240px);
        border-top: 1px solid $color--grey-light;
        z-index: -1;
        background-image: linear-gradient(rgba($color--grey-light, $transparency--high), white);
      }

      div:not(:first-child) { margin-left: 6px }

      // & div:not(:last-child)::after {
      //   content: '•';
      //   font-size: 1.4em;
      //   margin: 0 8px;
      //   position: relative; top: 3px;
      // }
    }
  }
}
