.work__items {
  @include flexbox(column);

  &__results {
    display: inline;
    text-align: center;
  }

  &__list {
    margin-top: $space--normal;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    @include portable {
      width: 100% !important;
      height: unset !important;
    }

    &__item {
      min-width: 240px; max-width: 360px;
      // widsth: 360px;
      // border: solid 6px $color--black;
      background-color: white;
      border-radius: 18px;
      box-sizing: border-box;
      // padding: 1em 1em 1.25em;
      box-shadow: 0 6px 12px rgba($color--grey, .3);
      transform: translate3d(0px, 0px, 0px) scale(1) rotateX(0deg) rotateY(0deg);
      transform-origin: center center;
      will-change: transform;
      perspective: 100px;
      overflow: hidden;
      transition:
        box-shadow .18s ease-in,
        transform .24s ease-in,
        opacity .3s .2s ease-in;
      cursor: pointer;

      &:hover {
        transition:
          box-shadow .24s ease-out,
          transform .18s ease-out;
        box-shadow: 0 9px 24px rgba($color--grey, .18);
      }

      &.is--loading { opacity: 0; }
      &.is--loaded { opacity: 1; }

      @include portable {
        max-width: unset;
        width: 100% !important;
        position: static !important;
        margin-top: 24px;
      }

      article { pointer-events: none; }

      figure {
        margin: 0;
        position: relative;

        // &::before {
        //   content: '';
        //   @include size;
        //   @include abs(unset, unset, 0, 0);
        //   display: block;
        //   background: linear-gradient(15deg, white, rgba(white, 0));
        // }

        img { @include size; }
      }

      ul {
        // background-color: $color--grey-light;
        color: $color--grey;
        padding: 18px 24px 12px;

        li:not(:first-child) { margin-top: 3px }
      }

      h1 {
        @extend %title--h3;
        padding: 18px 24px 0px;
        margin: 0;
        text-align: left;
      }

      p {
        padding: 0px 24px 18px;
        font-family: $font-serif;
      }
    }

    .masonry-gutter { width: 10%; }
  }

  &__show-button { margin: 60px auto 0; }
}
