.button {
  @extend %sans;
  text-decoration: none;
  margin: 6px;
  border-radius: 1.25em;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: rgba($color--grey-dark, 0);
  transition:
    background-color $transition--fast $easing--in,
    transform $transition--extra-fast $easing--in;

  .uil {
    &:not(.grey) { color: $color--primary; }
  }

  &:hover { transform: scale(1.05); }

  &:not(.button--icon):not(.button--icon--small) { padding: .5em 1.25em .75em; }
  &--icon,
  &--icon--small {
    display: inline-flex;
    align-items: center;
    padding: 0.12em .9em .36em 1.2em;
  }
  &--icon {
    padding-right: .6em;
    .uil { font-size: 1.8em; }
  }
  &--icon--small {
    .uil { font-size: 1.5em; }
  }

  &--dark {
    color: $color--grey;

    &:hover { background-color: rgba($color--grey, 0.1); }
  }

  &--light {
    color: $color--grey-light;

    &:hover { background-color: rgba($color--grey-light, 0.09); }
  }

  &:active {
    transition: transform $transition--extra-fast $easing--out;
    transform: scale(0.95);
  }
}
