.button {
  font-family: $font-body;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding: .65em 1.15em;
  margin: 6px;
  border-radius: 2em;
  cursor: pointer;
  transform: scale(1);
  box-sizing: border-box;
  background-color: rgba($color--grey-dark, 0);
  transition: background-color 0.12s ease-in, transform 0.12s ease-out;

  &:hover { transform: scale(1.05); }

  &--dark {
    border: solid 0.2em rgba($color--grey, 0.24);
    color: $color--grey-dark;

    &:hover { background-color: rgba($color--grey, 0.24); }
  }

  &--light {
    border: solid 0.2em rgba($color--grey-light, 0.09);
    color: $color--grey-light;

    &:hover { background-color: rgba($color--grey-light, 0.09); }
  }

  &:active {
    transition: transform 0.024s ease-out;
    transform: scale(1);
  }
}
