.button {
  // font-weight: 900;
  display: inline-block;
  padding: .65em 1.15em;
  margin: 6px;
  border-radius: 1em;
  cursor: pointer;
  transform: scale(1);
  box-sizing: border-box;
  transition: background-color 0.12s ease-in, transform 0.12s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &--dark {
    border: solid 0.22em rgba($color--grey-dark, 0.12);
    color: $color--grey-dark;

    &:hover {
      background-color: rgba($color--grey-dark, 0.12);
    }
  }

  &--light {
    border: solid 0.22em rgba($color--grey-light, 0.09);
    color: $color--grey-light;

    &:hover {
      background-color: rgba($color--grey-light, 0.09);
    }
  }

  &:active {
    transition: transform 0.024s ease-out;
    transform: scale(1);
  }
}
