.work-detail__metadata {
  width: 100%;
  min-width: 360px;

  @include desktop {
    max-width: 420px;
  }

  &__list {
    @include flexbox(row);
    flex-wrap: wrap;
    // justify-content: space-between;

    &__item {
      width: 100%;
      color: $color--grey-dark;
      // padding: 0 6px;

      &.purpose, &.focus, &.client, &.budget { width: 50%; }
      &.tools p,
      &.collaboration p {
        display: inline;

        &:not(:last-child)::after {
          content: ', ';
        }
      }

      h1, p { margin: 6px 0; }

      h1 {
        margin-top: 24px;
        text-transform: uppercase;
        font-size: .75em;
      }

      p { text-transform: capitalize; }

      @include portable {
        &.purpose, &.focus, &.client, &.budget { width: 40%; }
        font-size: 1.2em;
        text-size-adjust:100%
      }
    }
  }
}
