.work-detail__header {

  &__media {
    height: 60vh;
    padding: 0; margin: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;

    @include portable {
      width: 100%;
      height: auto;

      img {
        display: block;
        position: unset !important;
      }
    }

    &.top { @include flexbox(row, flex-start) }
    &.center { @include flexbox(row, center) }
    &.bottom { @include flexbox(row, flex-end) }
    img {
      width: 100%;
      position: absolute;
    }
  }

  &__title {
    @extend %title--h1;
    width: 100%;
    margin: 0;
    padding: 1em 4vw;
    box-sizing: border-box;
  }
}
