.work-detail__feedback {
  @include flexbox(column, center);
  @extend %block--grey-light;
  width: 100%;
  padding: 36px;
  box-sizing: border-box;

  &__header {

    &__title {
      @extend %title--h2;
      margin: 0.33em 0;
    }
  }

  &__topics {
    @include flexbox(row, unset, space-between);
    max-width: 1080px;
    width: 100%;
    margin: 30px auto;
  }

  &__topic {
    max-width: 300px;
    border-radius: 24px;
    padding: 12px 18px;

    &:not(:first-child) { margin-left: 12px; }
    &:first-child { background-color: rgba(green, 0.5); }
    &:nth-child(2) { background-color: rgba(red, 0.5);}
    &:last-child { background-color: rgba($color--grey-darker, 0.5); }

    &__title {
      font-weight: normal;
      font-size: 1em;
      color: white;
    }

    &__fields {
      &__field {

        & > * {
          width: 100%;
          border-radius: 18px;
        }

        input {
          margin-top: 12px; padding: 15px 18px;
          box-sizing: border-box;
          appearance: none;
          background-color: $color--grey-light;
          border: none;
          font-size: 1em;
          transition:
            transform 0.12s ease-out,
            background-color 0.12s ease-in;
          transform: scale(1);

          &::placeholder { opacity: .4; }
          &:focus {
            transform: scale(1.05);
            background-color: white;
          }
        }

        &__add {
          margin: 12px 0 0; padding: 2px 0 5px;
          font-size: 1.8em;
          text-align: center;
          border-color: rgba(white, 0.12);
        }
      }
    }
  }

}
