.work-detail__metadata {
  border-top: 1px solid $color--grey-light;
  background-color: white;


  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 12px calc(var(--page-padding) - 30px) 18px;

    &__item {
      width: 180px;
      margin: 30px 24px;

      & > h1 {
        font-size: .84em;
        text-transform: uppercase;
      }

      & > p {
        margin: 12px 0;

        a { text-decoration: underline; }
      }

      &.links {
        margin: 0;
        display: flex;
        width: 100%;
      }
    }


  }
}
