.work-detail__content {
  max-height: 960px;
  overflow: hidden;
  position: relative;

  &.read-more {
    max-height: 15000px;
    overflow: visible;
  }

  &__read-more {
    @include abs(null, null, 0, 0);
    @include size(100%, 120px);
    @extend %flex-center;
    button, button .uil {
      font-size: 1.2em;
      color: inherit;
    }
  }
}
