@import '../../../assets/scss/all';

.main-title {
  @extend %centralize--horizontal;
  @extend %title--h4;
  top: 0;
  // position: fixed;
  z-index: 999;
}

.home {
  @include flexbox(column, center);
  font-size: 1.1em;
  position: relative;
  // padding: 0px 48px;
  margin-top: 72px;

  &__article {
    @include flexbox(row, center, center);
    // @extend %block--grey-light;
    border: solid 3px $color--grey-light;
    overflow: hidden;
    border-radius: 30px;
    max-height: 240px;
    max-width: 960px;
    padding: 0px 54px 0 18px;
    margin: 0 24px;

    span {
      color: $color--grey;
      margin-top: 12px;
    }

    figure {
      @include rel(unset, unset, -30px, -36px);
      overflow: hidden;
      border-radius: 24px;
      max-width: 240px;

      img {
        width: 100%; height: 100%;
        object-fit: cover;
        filter: contrast(80%);
      }
    }

    p {
      max-width: 480px;
      line-height: 1.6;
      font-family: $font-serif;
    }

    @include portable {
      @include flexbox(column-reverse);
      max-height: unset;
      padding: 12px 30px 48px;

      span { @include rel(120px, unset, unset, 40vw); }

      figure {
        @include rel();
        width: 160px;
        max-height: 160px;
        margin: 0 0 -62px -48px;
      }
    }
  }
}
