<article class="home page--loaded">
  <h1 class="home__title">Luuk Siewers - IxD</h1>

  <div class="home__article">
    <figure class="home__portrait-image">
      <img src="/assets/images/portait-1.png" alt="Me">
    </figure>
    <p>From starting to get into designing and developing websites and coloring logo's and posters, I slowly get more into "real" designing.
      Currently experimenting a lot at the University of Arts in Utrecht and sorting my way out to become an innovator in experience design.
    </p>
  </div>

  <app-work></app-work>
</article>
<!-- <app-profile></app-profile> -->
