<h1 class="main-title">Luuk Siewers</h1>
<section class="home page--loaded">
  <div class="home__article">
    <figure class="home__portrait-image">
      <img src="/assets/images/portait-1.png" alt="Me">
    </figure>
    <div>
      <p><b>Interaction designer.</b> Mostly interested in creating and improving applied experiences using design methods and technology. <a [routerLink]="['about-me']" >More about me &#8594;</a></p>
      <span>Take a look &#8595;</span>
    </div>
  </div>
</section>

<app-work></app-work>
<!-- <app-profile></app-profile> -->
