<article class="work container" >
  <header class="work__header">
    <h1
      class="work__header__title title centered grey"
      title="Work"
      *ngIf="pageType === 'home'"
    >Work</h1>

    <!-- filters -->
    <ul class="work__header__filters" *ngIf="pageType === 'home'">
      <li
        class="work__header__filters__filter"
        *ngFor="let filter of filters"
        [class.tab--open]="filter.openTab"
        [class.tab--closed]="!filter.openTab"
      >
        <span
          class="work__header__filters__filter__label button button--dark"
          (clickOutside)="filter.openTab ? toggleFilterTab(filter) : null"
          [exclude]="'.work__header__filters__filter__dropdown'"
          (click)="toggleFilterTab(filter)"
        >{{filter.type}}</span>
        <!-- arrow icon -->
        <ul class="work__header__filters__filter__dropdown">

          <!-- uncategorized items -->
          <ng-container *ngIf="!valuesCategorized(filter.values)">
            <div class="work__header__filters__filter__dropdown__categorie">
              <li
                class="work__header__filters__filter__dropdown__value"
                *ngFor="let value of filter.values"
                (click)="toggleFilter({type: filter.type, values: [value]}); getFilteredItems()"
                [class.filter--active]="isActiveFilter(filter.type, value)"
              >
                {{value}}
              </li>
            </div>
          </ng-container>

          <!-- categorized items -->
          <ng-container *ngIf="valuesCategorized(filter.values)">
            <li *ngFor="let categorie of filter.values">
              <ul class="work__header__filters__filter__dropdown__categorie">
                  <h3>{{categorie.name}}</h3>
                  <li
                    *ngFor="let value of categorie.values;"
                    class="work__header__filters__filter__dropdown__value"
                    [class.filter--active]="isActiveFilter(filter.type, value)"
                    (click)="toggleFilter({type: filter.type, values: [value]}); getFilteredItems()"
                  >
                    {{value}}
                  </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
    <p
      class="work__header__filters__text"
      [class.no-filters]="activeFilters.length <= 0"
      *ngIf="pageType === 'home'"
    >
      {{activeFilters.length > 0 ? '' : 'No filter applied'}}
      <ng-container *ngFor="let filter of activeFilters  | slice:0:showAmount">
        <div
          class="button"
          *ngFor="let value of filter.values"
          (click)="toggleFilter({type: filter.type, values: [value]}); getFilteredItems()"
        >
          {{ value }}
        </div>
      </ng-container>
    </p>
    <!-- end filters -->
    <p
      class="work__header__filters__text"
      *ngIf="pageType === 'work'">
      More focused on {{ projectFilter.values }}
    </p>

  </header>

  <!-- items -->
  <main class="work__items" *ngIf="items?.length > 0">
    <!-- <p class="work__items__results">{{showItems.length ? showItems.length : 'No'}} {{showItems.length <= 1 ? 'result' : 'results'}}</p> -->
    <div class="work__items__preview-overlay" [class.preview--active]="previewOverlay"></div>
    <ul
      class="work__items__list"
      [class.masonry--loaded]="items.length > 0"
    >
      <li
        class="work__items__list__item"
        *ngFor="let item of items | slice:0:showAmount; let i = index"
        (click)="item.workPreview ? null : toPreviewAnimation($event, item);"
        (clickOutside)="item.workPreview ? closePreview(item, null, i) : null"
        (keyup.esc)="item.workPreview ? closePreview(item, null, i) : null"
        (mousemove)="hoverAnimation($event, item.workPreview)"
        (mouseleave)="hoverLeave($event, item.workPreview)"
        [class.state--preview]="item.workPreview"
      >
        <article>
          <figure>
            <img
              *ngIf="item.header.type === 'image'"
              [src]="item.header.url"
              [alt]="item.title"
              (load)="imageLoaded(item);"
            >
            <video
              *ngIf="item.header.type === 'video'"
              [muted]="'muted'" autoplay loop
              (loadeddata)="imageLoaded(item);"
            >
              <source src="{{ item.header.url }}">
            </video>
          </figure>
          <h1 class="title grey" title="{{item.title}}">{{item.title}}</h1>
          <div class="work__items__list__item__details">
            <p class="title grey" title="{{item.subtitle}}">{{item.subtitle}}</p>
            <ul *ngIf="item.metadata">
              <li>
                {{ item.metadata.purpose }} project
                <span *ngIf="item.metadata.purpose === 'Study'">{{ item.metadata.collaboration[0].name !== '' ? '(group)' : '(solo)' }}</span>
              </li>
              <li>Focused on <span *ngFor="let focus of item.metadata.focus">{{focus}}</span> design</li>
            </ul>
            <div class="buttons">
              <a class="button" (click)="item.workPreview ? closePreview(item, null, i) : null">Close</a>
              <a class="button button--dark" (click)="routeToPost(item.title)">More details<div class="icon rotate--180" [inlineSVG]="'arrow.svg'"></div></a>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <a
      class="work__items__show-button button button--dark"
      *ngIf="items.length > showAmount"
      (click)="showAmount = showAmount + 3; bricks.update()"
    >
      Show More
    </a>
  </main>

  <div class="work__items__no-results" *ngIf="items?.length === 0">
    No projects found :(
  </div>
</article>
