<app-navigation></app-navigation>

<router-outlet></router-outlet>

<footer class="app-footer">
  <div class="app-footer__mail">
    <p class="grey">Let's talk design  <i class="uil uil-comments grey"></i></p>
    <a class="button button--icon--small sans--bold" href="mailto:luuksiewers@icloud.com">Mail Me <i class="uil uil-fast-mail"></i></a>
  </div>
  <small class="grey">
    Unicons by <a target="_blank" href="https://iconscout.com/">Iconscout</a><br>
    &#169; Luuk Siewers
  </small>
</footer>

