
.content {
  width: 100%;
  max-width: 1200px;
  padding: 0 var(--page-padding);
  box-sizing: border-box;

  &__paragraph {
    height: auto;
    margin-bottom: 120px;

    &__text {
      h1 { margin: .33em 0; }
      p {
        font-size: 1.5em;
        line-height: 1.6;
      }


      &__links {
        font-size: 1.2em;
        @include rel(null, null, null, -18px);
        a, a .uil { color: inherit; }
        a { text-decoration: underline; }
      }
    }

    &__media {

      img, video {
        @extend %fullsize;
        min-width: 100%;
        min-height: 100%;
        display: block;
        object-fit: cover;

        .content__paragraph.image--right &,
        .content__paragraph.image--left & {
          border-radius: 36px
        }
      }

      figcaption {
        margin-top: 12px;
        opacity: $transparency--low;
        max-width: 60%;
      }
    }

    @include large {
      overflow: hidden;

      // image right or left
      &.image--right,
      &.image--left {
        padding-top: 240px;
        position: relative;

        .content__paragraph__media {
          position: absolute;
          top: 0;
          width: 55%; min-width: 360px;
          max-height: 480px;
          margin: 0;
        }
      }

      &.image--right {
        flex-direction: row-reverse;
        .content__paragraph__media {
          right: 0;
          figcaption {
            text-align: right;
            float: right
          }
        }
        .content__paragraph__text { left: -60px; }
      }
      &.image--left {
        .content__paragraph__text {
          right: -60px;
          float: right;
        }
      }

      // image full
      &.image--full {
        padding-top: 480px;
        position: relative;
        overflow: visible;

        .content__paragraph__media {
          @include abs(0, null, null, calc(var(--page-padding) * -1));
          @include size(100vw, 480px);
          min-height: 480px;
          margin: 0;
          figcaption {
            text-align: right;
            float: right;
            margin-right: var(--page-padding);
          }
        }

        .content__paragraph__text {
          margin-top: -var(--page-padding);
        }
      }

      // image full, left and right
      &.image--full,
      &.image--left,
      &.image--right {
        .content__paragraph__text {
          position: relative;
          width: calc(45% + 48px);
          padding: 48px 60px;
          border-radius: 36px;
        }
      }

      // double column
      &.double--column {

        .content__paragraph__text {
          width: calc((45% + 24px)*2);
          p {
            width: 100%;
            column-count: 2;
            column-gap: 96px;
          }
          h1 {
            text-align: center;
            margin-bottom: 1.2em;
          }
        }
      }
    }

    @include mobile {
      &.image--full {
        .content__paragraph__media {
          img, video {
            @include rel(null, null, null, calc(var(--page-padding) * -1));
            width: 100vw;
          }
        }
      }

      &__media {
        width: 100%;
        margin: 0;
      }

      &__text {
        margin-top: 60px;
      }

    }

    // quote
    &.quote {

      .content__paragraph__text {
        p {
          font-size: 3em;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }
}
