@import '../../../assets/scss/all';
@import '../../../app/components/work/work.component';

.dashboard {
  padding: 36px;

  &__add {
    display: block;
    margin: 30px auto 12px;
    font-size: 1.2em;

    i { font-size: 1.4em  }
  }
}
