@import '../../../assets/scss/all';
@import '../../../app/components/work/work.component';

.dashboard {
  padding: 36px;

  &__header {
    // @extend %block--grey-light;
    // padding: 36px;
    border-radius: 24px;
    border: solid 3px $color--grey-light;

    h1 { @extend %title--h2 }
  }

  &__add {
    display: block;
    margin: 30px auto 12px;
    font-size: 1.2em;
  }
}
