@import '../../../assets/scss/all';
@import '../../../app/components/work/work.component';

.dashboard {

  &__header {
    @extend %block--grey-light;
    padding: 36px;
  }

  &__posts {
    padding: 36px;
  }

  &__add {
    display: block;
    margin: 30px auto 12px;
    font-size: 1.1em;
  }
}
