/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/all.scss";

html,
body {
  // @extend %block--grey-dark;
  font-family: $font-body;
  overflow-x: hidden;
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// html { overflow: hidden;; }

body::before {
  content: '';
  @include abs();
  @include size();
  background-image: url('assets/images/lightpaperfibers.png');
  opacity: .75;
  z-index: -1;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  // text-decoration: none;
  color: $color--grey-dark;
}
