/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/all.scss";

html,
body {
  // @extend %block--grey-dark;
  font-family: $font-body;
  font-weight: 600;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// html { overflow: hidden;; }

html,
body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  // text-decoration: none;
  color: $color--grey-dark;
}
